<h1>User info</h1>
<table>
  <tbody>

    <tr>
      <th>name</th>
      <th><%= current_user.name %></th>
    </tr>
    <tr>introduction</tr>
  </tbody>
</table>
<h1>New Book</h1>
<%= form_with model: @book, local:true do |f| %>
 <p>Title</p>
 <%= f.text_field :title %>
 <p>Opinion</p>
 <%= f.text_area :opinion %>
 <%= f.submit 'Create Book' %>
<% end %>