<%= render 'books/list', book: @bookn, user: @user %>
<table>


  <tbody>
    <tr>

      <td>
        <%= image_tag @user.get_profile_image(50,50) %><br>
        <%= link_to @user.name, user_path(@user.id) %>
      </td>
      <td><%= link_to @book.title, book_path(@book.id) %></td>
      <td><%= @book.body %></td>
      <% if @user == current_user %>
      <td><%= link_to "Edit", edit_book_path(@book.id) %></td>
      <td><%= link_to "destroy", book_path(@book.id),method: :delete, "data-confirm" => "本当に削除しますか？" %></td>
      <% end %>
    </tr>
  </tbody>
</table>
